header{
    height: 10vh;
    width: 100%;
    font-size: 3em;
    text-align: center;
}
nav{
    font-size: 1em;
    border: 1px solid black;
}
nav ul{
    list-style: none;
    margin-right: 5%;
}
nav ul li{
    float: right;
}
h3{
    /* width: 10vw;
    margin: auto; */
    text-align: center;
    /* border: 1px solid black; */
}
#main{
    margin: auto;
    width: 70%;
    border: 1px solid black;
    min-height: 20vh;
}
#main > div{
    display: inline-block;
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
    padding-top: 70px;
}
#main > div > div{    
    background-color: green;
    width: 100px;
    animation-duration: 2s;
}
/* #main > div:first-child > div{
    animation-name: wachsen1;
} */
#main > div:nth-child(2) > div{
    animation-name: wachsen2;
}
#main > div:last-child > div{
    animation-name: wachsen3;
}
.kategorien{
    display: inline-block;
    height: 10px;
    background-color: burlywood;
    /* max-width: 70%; */
}
fieldset{
    width: 80%;
    margin: auto;
}
legend{
    font-size: 1.2em;
    font-weight: bold;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: red;
}
tr:nth-child(even){
    background-color: rgb(240,240,240);
}
tr:nth-child(odd){
    background-color: rgb(210,210,210);
}
td:nth-child(3n){
    text-align: right;
}